.is-sp {
    display: block;
}

.is-pc {
    display: none;
}

@media screen and (min-width: 767px) {
    .is-sp {
        display: none;
    }
    .is-pc {
        display: block;
    }
}

.header {
    border-bottom: 1px solid #d5d2cd;
}

.header-app-root {
    min-width: 1069px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d5d2cd;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 64px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1002;
}

.PcRoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 32px 0 0;
}

.header-app-root.is-pcDesignUpdated {
    min-width: 1024px;
}

.header-app-root .inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    max-width: 1340px;
    min-width: 1024px;
    width: 100%;
}

.header-app-root .inner .logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-right: 37px;
    padding: 0;
}

.header-app-root .inner .headerLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* margin-right: 24px; */
    margin-right: 100px;
}

.header-app-root .inner .headerLinks .headerLink--category,
.header-app-root .inner .headerLinks .headerLink--ranking {
    margin-right: 8px;
}

.header-app-root .inner .headerLinks .headerLink {
    color: #635f5a;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.header-app-root .inner .headerLinks .headerLink {
    color: #635f5a;
    cursor: pointer;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
}

.search-box-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-right: 16px;
}

.search-box-wrapper #search_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    float: right;
    height: 34px;
    position: relative;
    width: 100%;
}

.search-box-wrapper #search_box form {
    display: block;
    height: 100%;
    width: 100%;
}

.search-box-wrapper #search_box form .search-icon {
    color: #979797;
    cursor: pointer;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 9px;
    width: 16px;
}

.search-box-wrapper #search_box form input {
    background-color: #eee;
    border: 1px solid #d5d2cd;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #635f5a;
    display: block;
    font-size: 14px;
    height: 100%;
    padding: 0 16px 0 32px;
    -webkit-transition: background-color 200ms, border 200ms;
    transition: background-color 200ms, border 200ms;
    width: 100%;
}

svg {
    fill: transparent;
    stroke: currentColor;
}

.global-menu-root {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
}

.header-app-root .inner .global-controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.global-menu-root .button-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.global-menu-root .invite-button,
.global-menu-root .signup-button {
    margin-right: 16px;
}

.global-menu-root .invite-button,
.global-menu-root .signup-button {
    margin-right: 16px;
}

.global-menu-root .invite-button,
.global-menu-root .login-button,
.global-menu-root .signup-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d5d2cd;
    border-radius: 3px;
    color: #635f5a;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-size: 14px;
    line-height: 1;
    padding: 8px 12px;
}

section {
    display: block;
}

.partial-spa-root {
    background-color: #fff;
}

.partial-spa-root:not(.is-mobile) {
    min-width: 1069px;
}

.partial-spa-root:not(.is-mobile).is-pcDesignUpdated {
    min-width: 1024px;
}

.PcRoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 32px 0 0;
}

.PcRoot-main {
    margin: 0 44px 0 0;
    width: 680px;
}

.HeroVideoPc {
    cursor: pointer;
}

.VueCarousel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.VueCarousel-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.VueCarousel-inner {
    display: flex;
    flex-direction: row;
    backface-visibility: hidden;
}

.VueCarousel-slide {
    flex-basis: inherit;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.VueCarousel-pagination {
    position: absolute;
    bottom: 0;
}

.VueCarousel-pagination--bottom-overlay {
    position: absolute;
    bottom: 0;
}

.TopChirashiBanner-link {
    display: block;
}

.TopToAppBanner-link {
    display: block;
}

.DlyImg-placeholder {
    -webkit-animation: dly-loading 1.2s linear infinite;
    animation: dly-loading 1.2s linear infinite;
    will-change: background-color;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 0;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}

.VueCarousel-dot-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.VueCarousel-dot {
    display: inline-block;
    cursor: pointer;
    appearance: none;
    border: none;
    background-clip: content-box;
    box-sizing: content-box;
    padding: 0;
    border-radius: 100%;
    outline: none;
}

.PcRoot-popularWords {
    -ms-flex-line-pack: center;
    align-content: center;
    background-color: #f4f2f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 12px;
}

.PcRoot-popularWordsTitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #9c9892;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin-right: 12px;
    white-space: nowrap;
}

.PcRoot-popularWordList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.PcRoot-popularWordListItem {
    background-color: #fff;
    border-radius: 3px;
    color: #2b2a27;
    font-size: 12px;
    line-height: 1;
    margin: 4px;
    padding: 8px;
}

.PcRoot-popularWordListItem:last-child {
    margin-right: 0;
}

.PcRoot-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 19px;
}

.PcRoot-sectionTitle--ranking {
    margin: 0 0 20px;
}

.PcRoot-premiumIcon {
    background-color: #fff;
    height: 20px;
    margin: 0 4px 1px 0;
    margin-right: 4px;
    width: 20px;
}

.PcRoot-rankingVideos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 24px;
}

.PcRoot-rankingItem {
    margin-right: 16px;
}

.PcRoot-rankingLabel--first {
    background-color: #dbb34d;
}

.dly-video-item-thumbnail-root.small:not(.responsive) {
    width: 216px;
}

.dly-video-item-thumbnail-root {
    display: block;
    overflow: hidden;
    position: relative;
}

.dly-video-item-thumbnail-root .video-list-img {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: auto;
    width: 100%;
    z-index: 0;
}

.DlyImg-root {
    position: relative;
}

.PcRoot-rankingItemImage {
    width: 125px !important;
}

.dly-Button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.dly-Button .dly-Button-body.dly-is-md {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 130%;
    height: 50px;
}

.dly-Button--deprecatedPrimaryOutline .dly-Button-body--deprecatedPrimaryOutline {
    background-color: #fff;
    border: 2px solid #dbb34d;
    border-radius: 3px;
    color: #dbb34d;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    padding: 0 32px;
}

.PcRoot-rankingButtonContent {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.PcRoot-arrowRight {
    bottom: 0;
    height: 16px;
    margin: auto;
    position: absolute;
    right: 16px;
    top: 0;
    width: 16px;
}

.dly-article-list-item-root {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: relative;
}

.dly-article-list-item-root.minimal .thumbnail-wrapper {
    height: 64px;
    width: 64px;
}

.dly-article-list-item-root.minimal .description-wrapper {
    height: 64px;
}

.dly-article-list-item-root .thumbnail-wrapper .thumbnail {
    height: 100%;
    width: 100%;
}

.dly-article-list-item-root.minimal .title {
    font-size: 14px;
    line-height: 21px;
}

.PcRoot-rankingButton {
    width: 100%;
}

.PcRoot-ranking {
    border-right: 1px solid #efedeb;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 24px;
}

.PcRoot-articles {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 24px;
}

.PcRoot-articleItem {
    margin: 0 0 16px;
}

.PcRoot-popularRecipes {
    margin: 0 0 24px;
}

.PcRoot-popularRecipeTitle,
.PcRoot-recentVideoTitle,
.PcRoot-listsTitle {
    border-bottom: 1px solid #efedeb;
    border-top: 1px solid #efedeb;
    font-size: 20px;
    font-weight: normal;
    margin: 40px 0 16px;
    padding: 16px 0;
    text-align: center;
}

.PcRoot-popularRecipeSectionTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1;
    margin: 24px 0 16px;
    padding: 2px 0 5px;
}

.PcRoot-popularRecipeRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.PcRoot-popularRecipeWord {
    margin-top: 3px;
}

.PcRoot-popularRecipe {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 216px;
    flex: 0 0 216px;
    margin-right: 16px;
    position: relative;
    width: 216px;
}

.dly-video-item-root:not(.mobile).small {
    width: 216px;
}

.PcRoot-popularRecipe--thumbnail {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 216px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.PcRoot-popularRecipe--title {
    color: #635f5a;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.3;
    margin: 8px 0;
}

.PcRoot-popularRecipe--devideItem {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 104px;
    flex: 0 0 104px;
    width: 104px;
}

.PcRoot-popularRecipeThumbnail--overlay {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #635f5a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 216px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    line-height: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: visibility 0s, opacity .1s linear;
    transition: visibility 0s, opacity .1s linear;
    visibility: hidden;
    width: 100%;
    z-index: 2;
}

.dly-video-item-thumbnail-root.small:not(.responsive) {
    width: 216px;
}

.dly-video-item-thumbnail-root .video-list-img {
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: auto;
    width: 100%;
    z-index: 0;
}

.PcAside {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: auto;
    padding: 0 0 24px 0;
    width: 300px;
}

.PcAside-ads {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.PcAside-adsInner {
    transform-origin: left top;
    margin: 0px 0px 24px;
    transform: scaleY(1) scaleX(1);
}

.PcAside-bannerLink {
    margin: 0 0 24px;
}

.DlyImg-root {
    position: relative;
}

.DlyImg-img[dly-img-state=loaded] {
    opacity: 1;
    position: relative;
}

.DlyImg-img {
    display: block;
    height: auto;
    left: 0;
    min-height: 1px;
    min-width: 1px;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 100%;
    z-index: 1;
}

.DlyImg-placeholder {
    -webkit-animation: dly-loading 1.2s linear infinite;
    animation: dly-loading 1.2s linear infinite;
    will-change: background-color;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 0;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}

.DlyImg-img[dly-img-state=loaded]+.DlyImg-placeholder {
    -webkit-animation: none;
    animation: none;
    background-color: #ccc;
    position: absolute;
}

.PcAside-keywords {
    margin: 0 0 24px;
}

.PcAside-sectionTitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1;
    margin: 0 0 16px;
    padding: 2px 0 5px;
}

.PcAside-keywordList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.PcAside-keywordListItem {
    background-color: #efedeb;
    border-radius: 3px;
    color: #2b2a27;
    font-size: 14px;
    line-height: 1;
    margin: 0 8px 8px 0;
    padding: 8px;
}

.PcAside-sectionTitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1;
    margin: 0 0 16px;
    padding: 2px 0 5px;
}

.PcAside-sectionTitleBody {
    margin-top: 3px;
}

.PcAside-stickyContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
}

.logo h1 {
    z-index: 5px;
}

.logo h1 a {
    font-size: 90%;
    /* 文字サイズを250%に大きく */
    color: #dbb34d;
    /* 文字色は青 */
    background-color: white;
    /* 背景色は白 */
    text-decoration: none;
    z-index: 5px;
}

body {
    background: #fff;
    border: 0;
    color: #2b2a27;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 100%;
    line-height: 1em;
    margin: 0 auto;
    outline: 0;
    padding: 0;
    text-rendering: optimizelegibility;
    vertical-align: baseline;
    width: 100%;
}

.box {
    display: inline-block;
    font-size: 16px;
}