.recipe-info-wrapper {
    display: flex;
}

.content-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: auto;
    margin: 0 0 48px;
    padding: 40px 0 0;
    width: 1021px;
    justify-content: center;
}

.content-wrapper .main.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: auto;
    width: 696px;
}

.main-video-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 0 0 40px;
    width: 100%;
}

.videos-show-root .content-wrapper .main.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: auto;
    width: 696px;
}

.title-wrapper .title {
    color: #2b2a27;
    margin: 0 20px 0 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 130%;
}

section.ingredients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 40px 0 0;
    padding: 0 20px 0 0;
}

.ingredients h2 {
    color: #2b2a27;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 0 8px;
}

.ingredients .ingredient-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin: 16px 0 0;
}

.ingredients .ingredient-list .ingredient-list-item {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-bottom: solid 1px #6de00f;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 0;
}

.ingredients .ingredient-list .ingredient-list-item .ingredient-name,
.ingredients .ingredient-list .ingredient-list-item .ingredient-quantity-amount {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #2b2a27;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    font-size: 17px;
    font-weight: normal;
    line-height: 25px;
}

#recipe_update_form table.ingredients .quantity {
    width: 30%;
    vertical-align: top;
    padding: 10px 5px;
    border-bottom: 1px solid #eae8e3;
    border-top: 1px solid #ffffff;
}

#recipe_update_form table.ingredients .name {
    *zoom: 1;
    width: 70%;
    vertical-align: top;
    padding: 10px 5px;
    border-bottom: 1px solid #eae8e3;
    border-top: 1px solid #ffffff;
}

#recipe_update_form table.ingredients .name .delete_container {
    min-height: 30px;
    line-height: 30px;
    margin-top: 5px;
    float: left;
}

#recipe_update_form table.ingredients .name .position_change_container {
    min-height: 30px;
    line-height: 30px;
    margin-top: 5px;
    float: right;
}

.button.action,
a.button.action,
input[type='submit'].button.action {
    text-shadow: 0 -1px 0 #d4d0c6;
    border: 0;
    background: #eae8e3;
    background: #eae8e3;
    background: -moz-linear-gradient(top, #eae8e3, #eae8e3);
    background: -webkit-gradient(linear, left top, left bottom, from(#eae8e3), to(#eae8e3));
    background: linear-gradient(to bottom, #eae8e3, #eae8e3);
    text-shadow: none;
    margin: 0;
}

#recipe_update_form table.ingredients .name:after {
    content: "";
    display: block;
    clear: both;
}

.button.min,
a.button.min,
input[type='submit'].button.min {
    display: inline-block;
    min-width: 0;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: normal !important;
}

.button,
a.button,
input[type='submit'].button {
    text-shadow: 0 -1px 0 #d4d0c6;
    border: 0;
    background: #eae8e3;
    background: #eae8e3;
    background: -moz-linear-gradient(top, #eae8e3, #eae8e3);
    background: -webkit-gradient(linear, left top, left bottom, from(#eae8e3), to(#eae8e3));
    background: linear-gradient(to bottom, #eae8e3, #eae8e3);
    display: block;
    font-size: 16px;
    font-weight: normal !important;
    line-height: 1.5;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    text-shadow: none;
    color: #66645a;
    border-radius: 5px;
    -webkit-appearance: none;
}

.change_postion {
    width: 38px !important;
}

.change_postion,
.edit_button,
.save_button {
    background: #fcfcfa;
    background: -moz-linear-gradient(top, #fcfcfa, #e5e3d8);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfa), to(#e5e3d8));
    background: linear-gradient(to bottom, #fcfcfa, #e5e3d8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 0 #ffffff;
    border-radius: 5px;
    font-size: 86%;
    height: 32px;
    width: 57px;
    border: 1px solid #bfbcb0;
    padding: 0 1px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #4c4a40;
    display: inline-block;
    width: auto !important;
    padding: 0 5px;
}